
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
 


button {
    background-color: blueviolet;
    color:chartreuse;
    border:aquamarine;
    padding: 9px 10px;
    border-radius: 10px;
    cursor: pointer;

}

section[
    flex:1;
 ]
footer{
    align-self: flex-end;
}
button:hover {
    background-color: crimson;
}